myvenv/
Optimization_Algorithm/data/
Regularization_and_HyperparameterTuning/data/
Convolution_Neural_Network/images/
Convolution_Neural_Network/data/
Convolution_Neural_Network/saved_models/
Recurrent_Neural_Networks/data/
Advanced_Deep_Learning_Techniques/data/
*.ubyte
*.gz